@font-face {
  font-family: "National Park";
  src: url("/assets/fonts/NP-VariableVF.woff2")
      format("woff2 supports variations"),
    url("/assets/fonts/NP-VariableVF.woff2") format("woff2-variations");
}

body {
  background: #dddddd;
  color: #232323;
  font-family: "National Park";
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.client {
  display: flex;
  gap: 5px;
  align-items: center;
}

.toolbar {
  display: flex;
}

.chart-container {
  display: flex;
  overflow: auto;
  padding: 6px;
}

.chart {
  display: flex;
  flex-direction: column;
  line-height: 0;
  user-select: none;
}

.needle-numbers {
  display: flex;
  flex: 0 1;
  /* outline: 1px solid black; */
  cursor: ew-resize;
  background: #383838;
  font-weight: bold;
  color: #dddddd;
  margin: 5px 0 5px 0;
}

.needle-numbers .row-label {
  background: #dddddd;
  outline: unset;
}

.row {
  display: flex;
  flex: 0 1;
  outline: 1px solid black;
}

.row:hover {
  outline: 3px solid black;
  filter: brightness(0.8);
  z-index: 10;
}

.row.highlighted {
  outline: 5px solid black;
  z-index: 10;
}

.row.inprogress {
  outline: 3px solid red;
  z-index: 10;
}

.row-label {
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  outline: 1px solid black;
}

.row-label.left {
  left: 0;
}

.row-label.right {
  right: 0;
}

.row-label.white {
  background-color: white;
}

.stitch {
  aspect-ratio: 1;
  border-left: 1px solid black;
}

.needle {
  aspect-ratio: 1;
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
